@import './variable.scss';
@import './common.scss';  

.home-page {
    position: relative;
    height: 100vh;
    background-image: url('../images/landing_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}